<div class="container">
    <div class="row text-center d-flex justify-content-center " >
    <div class=" form-control" style="width: 300px;height: 45px;margin-bottom: 10px;background-image: url('assets/images/background3.png');">
        <h2>Preview</h2>
    </div>
</div>
    <div class="row d-flex justify-content-center" >
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="card" style="background-image: url('assets/images/background3.png');">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="d-flex justify-content-center" style="margin-top: 0px;">
                            <div class="d-flex rating-container" style="color: green; border: 1px solid; text-align: center; max-width: 65px; border-radius: 5px;padding-left: 5px;padding-right: 5px;">
                                <p style="margin: 0;">{{editingproduct.productRating}}</p>
                                <i class="bi bi-star"></i>
                            </div>
                            <div class="d-flex rating-container" style="color: green; border: 1px solid; text-align: center; max-width: 120px; border-radius: 5px;padding-left: 5px;padding-right: 5px;margin-left: 10px;">
                                <p style="margin: 0;">Avaliable:{{newProductForm.value['avaliableQuantity']}} KG</p>
                            </div>
                        </div>
                        <div class="col-md-9 col-lg-10 col-8" style="margin-top: -20px;">
                            <h3 class="card-title" style="font-weight: bold;margin-left: 1px;">{{newProductForm.value['productName']}}</h3>
                            <div class="card-text" style="margin-top: -10px;margin-bottom: 5px;"><i class="bi bi-currency-rupee"></i>{{newProductForm.value['productPrice']}}</div>
                            <p class="card-text">{{newProductForm.value['productDescription']}}</p>
                        </div>
                        <div class="col-md-3 col-lg-2 col-4" >
                            <img src='assets/images/apple.jfif' style="height: 100px;width: 100px;" alt="Image" class="img-fluid">
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="row text-center d-flex justify-content-center">
        <form action="form-group" [formGroup]="newProductForm">
            <div class="row d-flex justify-content-center m-2">
                <div class="col-md-6">
                    <input type="text" formControlName="productName" placeholder="Product name" name="productName" id="productName"
                        class="form-control text-center">
                </div>
            </div>
            <div class="row d-flex justify-content-center m-2">
                <div class="col-md-6">
                    <input type="number" formControlName="avaliableQuantity" placeholder="Avaliable quantity " name="avalibleQuantity" id="avalibleQuantity"
                        class="form-control text-center">
                </div>
            </div>
            <div class="row d-flex justify-content-center m-2 align-items-center">
                <div class="col-md-2 " >
                    <label for="productLonchTime " style="font-weight: bold;">Product launch  Time</label>
                </div>
                <div class="col-md-4">
                    <input type="datetime-local" formControlName="productLaunchTime" name="productLonchTime" id="productLonchTime"
                        class="form-control text-center">
                </div>
            </div>
            <!-- <div class="row d-flex justify-content-center m-2 align-items-center">
                <div class="col-md-2 " >
                    <label for="productPrice " style="font-weight: bold;">Product Price</label>
                </div>
                <div class="col-md-4">
                    <input type="number" placeholder="Product Price" name="productPrice" id="productPrice"
                        class="form-control text-center">
                </div>
            </div> -->
            <div class="row d-flex justify-content-center m-2">
                <div class="col-md-6">
                    <input type="number" placeholder="Product Price " formControlName="productPrice" name="productPrice" id="productPrice"
                        class="form-control text-center">
                </div>
            </div>
            <div class="row d-flex justify-content-center m-2">
                <div class="col-md-6">
                    <textarea placeholder="Describe your product" name="productDescription" formControlName="productDescription" id="productDescription" class="form-control "></textarea>
                </div>
            </div>
             <div class="row d-flex justify-content-center m-2 align-items-center">
                <div class="col-md-2 " >
                    <label for="ProductImage " style="font-weight: bold;">Product Image</label>
                </div>
                <div class="col-md-4">
                    <input type="file" placeholder="Product Image" formControlName="productImage" name="ProductImage" id="ProductImage"
                        class="form-control text-center">
                </div>
            </div> 
            <div class="row d-flex justify-content-center m-5 align-items-center btn-group">
                <div class="col-md-1 m-2" >
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
                <div class="col-md-1 m-2">
                    <button type="button" class="btn btn-light" >Cancel</button>
                </div>
                <div class="col-md-1 m-2">
                    <button type="button" (click)="saveProduct()" class="btn btn-success">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
