<div class="container">
	
	<div class="row justify-content-center">
	  <div class="col-10">
		<header class="text-center">
		  <h1>Invoice</h1>
		  <address>
			<p>Jonathan Neal</p>
			<p>101 E. Chapman Ave<br>Orange, CA 92866</p>
			<p>(800) 555-1234</p>
		  </address>
		  <div class="d-flex justify-content-center " style="padding-left: 340px;">
			<img src="/assets/images/invertedIconn11.png" alt="" class="img-fluid" style="max-height: 150px; max-width: 130px;">
		  </div>
		</header>
		<article>
		  <h1>Recipient</h1>
		  <address>
			<p>Some Company<br>c/o Some Guy</p>
		  </address>
		  <table class="balance m-3">
			<tr>
			  <th>Invoice #</th>
			  <td>101138</td>
			</tr>
			<tr>
			  <th>Date</th>
			  <td>January 1, 2012</td>
			</tr>
			<tr>
			  <th>Amount Due</th>
			  <td >$600.00</td>
			</tr>
		  </table>
		  <table class="table m-3">
			<thead>
			  <tr>
				<th>Item</th>
				<th>Description</th>
				<th>Rate</th>
				<th>Quantity</th>
				<th>Price</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>Front End Consultation</td>
				<td>Experience Review</td>
				<td>$150.00</td>
				<td>4</td>
				<td>$600.00</td>
			  </tr>
			</tbody>
		  </table>
		  <table class="balance m-3">
			<tr>
			  <th>Total</th>
			  <td>$600.00</td>
			</tr>
			<tr>
			  <th>Amount Paid</th>
			  <td>${{orderid}}</td>
			</tr>
			<tr>
			  <th>Balance Due</th>
			  <td>$600.00</td>
			</tr>
		  </table>
		</article>
		<aside>
		  <h1>Additional Notes</h1>
		  <div>
			<p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p>
		  </div>
		</aside>
	  </div>
	</div>
  </div>
  