<div style="background-image: url();">
<div class="container" style="margin-left:100px;">
	<div class="row">
	  <div class="col-12 text-center">
		<div class="mx-auto col-10">
		<header class="text-center">
		  <h1>Invoice</h1>
		  <address>
			<p>{{delear.name}}</p>
			<p>{{delear.address.addressLine1}},{{delear.address.city}}</p>
			<p>+91 {{delear.mobileNumber}}</p>
		  </address>
		  <div class="d-flex justify-content-center" style="padding-left: 340px;">
			<img src="/assets/images/invertedIconn11.png" alt="" class="img-fluid" style="max-height: 150px; max-width: 130px;">
		  </div>
		</header>
		<article>
		  <h1>Recipient</h1>
		  <address>
			<img src="assets/images/logo.png" alt="">
		  </address>
		  <table class="balance m-3">
			<tr>
			  <th>Invoice #</th>
			  <td>{{invoice.billId}}</td>
			</tr>
			<tr>
			  <th>Date</th>
			  <td>{{invoice.date.toLocaleDateString()}}</td>
			</tr>
			<tr>
			  <th>Amount Paid</th>
			  <td>₹{{invoice.amountPaid}}</td>
			</tr>
		  </table>
		  <table class="table m-3">
			<thead>
			  <tr>
				<th>Farmer Id</th>
				<th>Product Id</th>
				<th>Product Name</th>
				<th>Product Price</th>
				<th>Quantity</th>
				<th>Total Price</th>
			  </tr>
			</thead>
			<tbody>
			  <tr *ngFor="let product of products">
				<td>{{product.farmerId}}</td>
				<td>{{product.productId}}</td>
				<td>{{product.productName}}</td>
				<td>₹{{product.productPrice}}</td>
				<td>{{product.productQuantity}}</td>
				<td>₹{{product.totalPrice}}</td>
			  </tr>
			</tbody>
		  </table>
		  <table class="balance m-3">
			<tr>
			  <th>Total</th>
			  <td>₹{{bill.totalAmount}}</td>
			</tr>
			<tr *ngIf="bill.DiscountAmount">
			  <th >Discount</th>
			  <td>₹{{bill.DiscountAmount}}</td>
			</tr>
			<tr>
			  <th>Amount paid</th>
			  <td>₹{{bill.amountPaid}}</td>
			</tr>
		  </table>
		</article>
		<aside>
		  <h1>Farmers address</h1>
		  <div *ngFor="let farmer of farmers" class="m-3">
			<p>{{farmer.name}}({{farmer.id}})</p>
			<p>{{farmer.address.addressLine1}},{{delear.address.city}}</p>
			<p>+91 {{farmer.mobileNumber}}</p>
			
		  </div>
		</aside>
	  </div>
	</div>
  </div>
  </div>
</div>