
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2  g-4">
      
        <div class="col" *ngFor="let shop of shopsList">
          <div class="card">
            <a [routerLink]="[shop.shopid]" 
            routerLinkActive="active" style="text-decoration: none; color: inherit;">
            <img [src]="shop.shopImage" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <h3 class="card-title" style="font-weight: bold;">{{shop.shopTittle}}</h3>
                <p style="background-color: rgb(6, 125, 86); width: 40px; border-radius: 10%;margin-top: 10px;">{{shop.shopRating}}<i class="bi bi-star"></i></p>
              </div>
              <p class="card-text">{{shop.shopDescription}}</p>
            </div>
          </a>
          </div>
        </div>  
</div>
        
